<nav class="navbar navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">{{title}}</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/members']">کاربران</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/lists']">فهرست</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']">پیام ها</a>
        </li>
      </ul>

      <div *ngIf="loggedIn()" dropdown class="dropdown">
        <span>
          <img class="profile-img rounded-circle" src="{{photoUrl}}" alt="">
        </span>
        <a class="dropdown-toggle" dropdownToggle  (click)='false'>
          خوش آمدید {{authService.decodedToken?.unique_name | titlecase}}
        </a>

        <div *dropdownMenu class="dropdown-menu mt-3" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user mr-2"></i>ویرایش نمایه</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>خروج</a>
        </div>
      </div>

      <form *ngIf="!loggedIn()" #loginForm="ngForm"
            class="form-inline mt-1" style="padding-right: 420px;" (ngSubmit)="login()">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-user"></i>
            </div>
          </div>
          <input type="text" class="form-control" name="username"
                 required [(ngModel)]="model.username" placeholder="نام کاربری" >
        </div>

        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-key"></i>
            </div>
          </div>
          <input type="password" class="form-control" required name="password"
                 placeholder="کلمه عبور" [(ngModel)]="model.password" >
        </div>

        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary mb-2">ورود</button>
      </form>

    </div>
  </div>
</nav>
