<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">مسابقات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">فهرست</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">پیام ها</a>
        </li>
      </ul>

      <div *ngIf="loggedIn()" dropdown class="dropdown">
        <a class="dropdown-toggle text-light" dropdownToggle  (click)='false'>
          خوش آمدید {{authService.decodedToken?.unique_name | titlecase}}
        </a>

        <div *dropdownMenu class="dropdown-menu mt-3" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i>ویرایش نمایه</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>خروج</a>
        </div>
      </div>

      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" style="padding-right: 500px;" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="username"
               placeholder="نام کاربری" required [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" name="password"
               placeholder="کلمه عبور" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">ورود</button>
      </form>
    </div>
  </div>
</nav>
