<div class="container mt-5">
  <div *ngIf='!registerMode' style="text-align: center;">
    <p class="lead">برای مشاهده کاربران وارد حساب شوید...جهت ثبت نام روی دکمه ثبت نام کلیک کنید!</p>
    <div class="text-center">
      <button style="width: 220px !important;" class="btn btn-lg btn-primary" (click)='registerToggle()'>ثبت نام</button>
    </div>
  </div>

<div *ngIf='registerMode' class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>

</div>
