<div class="container mt-5">
  <div *ngIf='!registerMode' style="text-align: center;">
    <h1>مطابقت خود را پیدا کنید
    </h1>
    <p class="lead">وارد شوید تا مسابقات خود را مشاهده کنید ... تنها کاری که باید انجام دهید ثبت نام است!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)='registerToggle()'>ثبت نام</button>
      <button class="btn btn-info btn-lg">بیشتر بدانید</button>
    </div>
  </div>

<div *ngIf='registerMode' class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>

</div>
